#Form {
  margin: 2rem 5rem;
}

.formBorder {
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: #0044ff75 0px 0px 1rem;
}

#Form .divider {
  border-width: 1px;
}

.button {
  --bg-color-1: #0044ff33;

  font-weight: bold;
  background-color: var(--bg-color-1);
  border: 2px solid;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.button.buttonClear {
  background-color: #e40a0a;
}
.button:hover {
  scale: 105%;
}

@media (max-width: 600px) {
  .formBorder {
    padding: 1rem;
  }
}
